*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
xcuserdata
*.xccheckout
contents.xcworkspacedata
.svn
profile
**/MacOSX/build
**/iOS/build
**/Linux/build
**/VisualStudio2005/Debug
**/VisualStudio2005/Release
**/VisualStudio2008/Debug
**/VisualStudio2008/Release
**/VisualStudio2010/Debug
**/VisualStudio2010/Release
**/VisualStudio2012/Debug
**/VisualStudio2012/Release
**/VisualStudio2013/Debug
**/VisualStudio2013/Release
**/Android/bin
**/Android/libs
**/Android/gen
**/Android/obj
**/CodeBlocks/bin
**/CodeBlocks/obj
**/CodeBlocks/*.depend
**/CodeBlocks/*.layout

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk